/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	flex-direction: column;
}

.edition-mode {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 11px;
	width: 100%;
	height: 59px;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 400;
	color: #FFF;
	background-color: #000;
}

.edition-mode img {
	color: #000;
	width: 15px;
	height: 15px;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

header a {
	text-decoration: none;
	color: #000;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
/***********FILTRE**************/
.filter {
	display: flex;
	gap: 15px;
	justify-content: center;
	height: 37px;
	padding-bottom: 50px;
}

.filter button {
	border-radius: 60px;
	border-width: 1px;
	border-color: #1d6154;
	font-family: "Syne";
	font-weight: 700;
	font-size: 20px;
	color: #1d6154;
	padding: 10px;
	height: 50px;
}
  
.filter button:hover, .filter button.selected {
	color: white;
	background-color: #1d6154;
}

/*************************/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/************ Projets ******************/
.projet {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 25px;
}

.btn-modify {
	display: flex;
	align-items: baseline;
	gap: 10px;
	border: none;
	background-color: transparent;

	cursor: pointer;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 400;
}

.btn-modify:hover {
	text-decoration: underline;
}

.delete-modal{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.delete-modal-wrapper {
	position: absolute;
	overflow: auto;
	width: 630px;
	height: 688px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-close {
	height: 24px;
	width: 24px;
	border: none;
	position: absolute; 
	top: 26px;
	right: 30px;
	cursor: pointer;
}

.delete-modal-wrapper h1 {
	color: #000;
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 400;
} 

.btn-add {
	border-radius: 60px;
	border-width: 1px;
	border-color: #1d6154;
	font-family: "Syne";
	font-weight: 700;
	font-size: 20px;
	color: #1d6154;
	width: 237px;
	height: 36px;
}

hr {
	margin-bottom: 30px;
	width: 420px;
}

.modal-gallery {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 15px; 
	padding: 40px 105px 40px 105px;
} 

.modal-gallery img {
	width: 78px;
	height: 104px;
}

.modal-gallery .trash{
	padding: 4px;
	background-color: #000;
	position: relative;
	top: -100px;
	left: 55px;
	width: 9px;
	height: 11px;
}

.modal-gallery .trash:hover{
	cursor: pointer;
}

/************ Ajout********/
.add-modal{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.add-modal-wrapper {
	position: absolute;
	overflow: auto;
	width: 630px;
	height: 688px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-validate {
	border-radius: 60px;
	border-width: 1px;
	border-color: #1d6154;
	font-family: "Syne";
	font-weight: 700;
	font-size: 20px;
	color: #1d6154;
	width: 237px;
	height: 36px;
	align-self: center;
}

.add-modal-wrapper form {
	text-align: left;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 105px;
	gap: 20px;
}

.add-modal-wrapper .file {
	width: 100%;
	height: 104px;
	padding: 105px;
}

.loadImage {
	width: 100%;
	height: 169px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
}
 
.preview {
	display: none;
	width: 100%;
	height: 169px;
	object-fit: contain;
	background-color: #E8F1F6;
}

.modal-previous {
	height: 24px;
	width: 24px;
	border: none;
	position: absolute; 
	top: 26px;
	left: 30px;
	cursor: pointer;
	background: #fff;
}

